<div class="container-fluid">
    <div class="  header_section text-center text-white">
        <h1>Stock Auto Pilot</h1>
    </div>
    <br />

    <div class="container-fluid">
        <div class="row main-content bg-success text-center">
            <div class="col-md-4 text-center company__info">
                <span class="company__logo">
                    <h1><span class="fa fa-line-chart"></span></h1>
                </span>
                <h4 class="company_title">STOCK AUTO PILOT</h4>
            </div>
            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                <div class="container-fluid">
                    <div class="row">
                        <h2>Log In</h2>
                    </div>
                    <div class="row">
                        <form control="" class="form-group" #loginform="ngForm"
                            (ngSubmit)="getLoginFormData(loginform.value)">
                            <div class="row">
                                <input type="text" name="username" [(ngModel)]="loginForm.username" id="username"
                                    class="form__input" placeholder="Username">
                            </div>

                            <div class="row">
                                <!-- <span class="fa fa-lock"></span> -->
                                <input type="password" name="password" id="password" class="form__input"
                                    [(ngModel)]="loginForm.password" placeholder="Password">
                            </div>

                            <div class="row ">
                                <div class="col-12">
                                    <input type="submit" value="Submit" class="btn">
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="row">
                        <p>Don't have an account? <a href="#">Register Here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>