<div class="container-fluid">
    <div class="  header_section text-center text-white">
        <h1>Stock Auto Pilot</h1>
    </div>
    <br />

    <div class="container bg-white p-3 mt-3" style="border-radius: 20px; width: 90%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border: 1px solid
 #FB525A!important;">

        <div class="row">
            <div class="col-md-10">
                <div class="d-flex  justify-content-between">
                    <p class="fs-4 mt-2"> <strong>Today's Transaction Report</strong> </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-floating text-muted fs-6">
                    <input type="text" class="form-control" id="scriptName" placeholder="pan"
                        style="border-radius: 12px; height: 50px;" name="scriptName">
                    <label for="scriptName" class="p-2">Script Name</label>
                </div>
            </div>
            <!-- <div class="col-3">
                <div class="form-floating text-muted fs-6">
                    <input type="date" class="form-control" id="" placeholder="From Date"
                        style="border-radius: 12px; height: 50px;" name="">
                    <label for="" class="p-2">From Date</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating text-muted fs-6">
                    <input type="date" class="form-control" id="" placeholder="To Date"
                        style="border-radius: 12px; height: 50px;" name="">
                    <label for="" class="p-2">To Date</label>
                </div>
            </div> -->
            <div class="col-6"></div>

            <div class="col-3" align="right">
                <button type="button" style="background-color: #FB525A;border-color: #FB525A;color: #fff;"
                    class="btn  mt-2 mb-2 float-end ">
                    <strong>Buy/Sell Report</strong> </button>

            </div>

        </div>


        <div class="card border-0 px-3 mt-3" style="width:100%;margin: auto">

            <div class="row ps-1">

                <div class="px-3">
                    <p-table id="scriptsList" dataKey="id" [value]="todaysTransactionList" [rowHover]="true" [rows]="25"
                        [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100,150]" responsiveLayout="scroll"
                        [paginator]="true" [filterDelay]="0" [style]="{'float':'right !important'}"
                        [globalFilterFields]="['scriptId','scriptName','orderDate', 'orderType','qty_slab','buyTarget','sellTarget','qtyBalance','scriptFundBalance','profit','buyRate']"
                        sortField="" [sortOrder]="-1">
                        <ng-template pTemplate="caption">
                            <div class="d-flex justify-content-between">
                                <p class="fs-5 mt-2">Today's Transaction Report</p>
                            </div>
                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr style="font-size: 14px;">
                                <th pSortableColumn="scriptId" style="width: 6%;">
                                    <div class="flex justify-content-between align-items-center">Script Id
                                        <!-- <p-sortIcon field="id"></p-sortIcon> -->

                                    </div>
                                </th>
                                <th pSortableColumn="scriptName" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center">Script Name


                                    </div>
                                </th>
                                <th pSortableColumn="orderDate" style="width: 25%;">
                                    <div class="flex justify-content-between align-items-center">Order Date / Time

                                    </div>
                                </th>
                                <th pSortableColumn="orderType" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center">
                                        Order Type

                                    </div>
                                </th>
                                <th pSortableColumn="qty_slab" style="width: 9%;">
                                    <div class="flex justify-content-between align-items-center">Quantity Slab

                                    </div>
                                </th>
                                <th pSortableColumn="buyTarget" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center">Buy Target

                                    </div>
                                </th>
                                <th pSortableColumn="sellTarget" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center"> Sell Target

                                    </div>
                                </th>
                                <th pSortableColumn="qtyBalance" style="width: 10%;">
                                    <div class="flex justify-content-between align-items-center">Quantity Balance

                                    </div>
                                </th>
                                <th pSortableColumn="scriptFundBalance" style="width: 10%;">
                                    <div class="flex justify-content-between align-items-left">Script Fund Balance

                                    </div>
                                </th>
                                <th pSortableColumn="profit" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-left">Profit

                                    </div>
                                </th>
                                <th pSortableColumn="buyRate" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-left">Buy Rate

                                    </div>
                                </th>

                            </tr>

                        </ng-template>

                        <ng-template pTemplate="body" let-todaysList>
                            <tr>
                                <td>{{todaysList.scriptId}}</td>
                                <td>{{todaysList.scriptName}}</td>
                                <td>{{todaysList.orderDate}}</td>
                                <td>{{todaysList.orderType}}</td>
                                <td>{{todaysList.qtySlab}}</td>
                                <td>{{todaysList.buyTarget}}</td>
                                <td>{{todaysList.sellTarget}}</td>
                                <td>{{todaysList.qtyBalance}}</td>
                                <td>{{todaysList.scriptFundBalance}}</td>
                                <td>{{todaysList.profit}}</td>
                                <td>{{todaysList.buyRate}}</td>





                            </tr>
                        </ng-template>


                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No Data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="row mt-6 p-1 mt-4">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2" align="center">
                        <button type="button" routerLink="/StockAutoPilot"
                            style="width:90%; background-color:#FB525A ;color: #fff;"
                            class="btn btn-outline-secondary">Back</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>