<div class="container-fluid">
    <div class="  header_section text-center text-white">
        <h1>Stock Auto Pilot</h1>
    </div>
    <br />

    <div class="container bg-white p-3 mt-3" style="border-radius: 20px; width: 90%;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; border: 1px solid
 #FB525A!important;">

        <div class="row">
            <div class="col-md-10">
                <div class="d-flex  justify-content-between">
                    <p class="fs-4 mt-2"> <strong> Transaction Report</strong> </p>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-3">
                <div class="form-floating text-muted fs-6">
                    <input type="text" class="form-control" id="scriptName" placeholder="pan"
                        style="border-radius: 12px; height: 50px;" name="scriptName" [(ngModel)]="filter.scriptName"
                        (ngModelChange)="onFilter(1)">
                    <label for="scriptName" class="p-2">Script Name</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating text-muted fs-6">
                    <input type="date" class="form-control" id="" placeholder="From Date" [(ngModel)]="fromDate"
                        (ngModelChange)="filterDate()" style="border-radius: 12px; height: 50px;" name="">
                    <label for="" class="p-2">From Date</label>
                </div>
            </div>
            <div class="col-3">
                <div class="form-floating text-muted fs-6">
                    <input type="date" class="form-control" id="" placeholder="To Date" [(ngModel)]="toDate"
                        (ngModelChange)="filterDate()" style="border-radius: 12px; height: 50px;" name="">
                    <label for="" class="p-2">To Date</label>
                </div>

            </div>


            <div class="col-3 pe-4" align="right">
                <!-- <div class="row">
                    <div class="col-4"></div>
                    <div class="col-8">
                        <button type="button" style="background-color: #FB525A;border-color: #FB525A;color: #fff;"
                            class="btn  mt-2 mb-2 float-end">
                            <strong>Buy/Sell Report</strong> </button>
                    </div>
                </div> -->
                <div class="row">
                    <div class="col-3"> <button type="button" pButton
                            style="background-color: #FB525A  ; width:95px; color: #fff; "
                            class="btn btn-outline-secondary " (click)="clearFilter()" icon="pi pi-filter-slash">
                            Clear</button>
                    </div>
                    <div class="col-9">
                        <button type="button" routerLink="/StockAutoPilot"
                            style="width:75px; background-color:#FB525A ;color: #fff;"
                            class="btn btn-outline-secondary">Back</button>
                    </div>
                </div>


            </div>

        </div>


        <div class="card border-0 px-3 mt-3" style="width:100%;margin: auto">

            <div class="row ps-1">
                <div class="px-3">
                    <p-table id="todaysTransactionList" dataKey="id" [value]="todaysTransactionList" [rowHover]="true"
                        [rows]="25" [showCurrentPageReport]="true" [rowsPerPageOptions]="[25,50,100,150]"
                        responsiveLayout="scroll" [paginator]="true" [filterDelay]="0"
                        [style]="{'float':'right !important'}"
                        [globalFilterFields]="['scriptId','scriptName','orderDate', 'orderType','qty_slab','buyTarget','sellTarget','qtyBalance','scriptFundBalance','profit','buyRate']"
                        sortField="" [sortOrder]="-1">
                        <ng-template pTemplate="caption">
                            <div class="row">
                                <div class="col-md-9">
                                    <div class="d-flex justify-content-between">
                                        <p class="fs-5 mt-2"> Transaction Detail Report</p>
                                    </div>
                                </div>
                                <div class="col-md-3 ">
                                    <div class="d-flex justify-content-between">
                                        <strong>
                                            <h1 style=" color: rgb(2, 114, 2);" class="fs-5 mt-2">
                                                Result :-
                                                {{todaysProfit| number : '1.2-2'}}</h1>

                                        </strong>
                                    </div>
                                </div>

                            </div>

                        </ng-template>

                        <ng-template pTemplate="header">
                            <tr style="font-size: 14px;">
                                <th pSortableColumn="scriptId" style="width: 5%;">
                                    <div class="flex justify-content-between align-items-center text-center">Script Id
                                        <!-- <p-sortIcon field="id"></p-sortIcon> -->

                                    </div>
                                </th>
                                <th pSortableColumn="scriptName" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center text-center">Script Name


                                    </div>
                                </th>
                                <th pSortableColumn="orderDate" style="width: 7%;">
                                    <div class="flex justify-content-between align-items-center text-center">Order Date

                                    </div>
                                </th>
                                <th pSortableColumn="orderType" style="width: 7%;">
                                    <div class="flex justify-content-between align-items-center text-center">
                                        Order Type

                                    </div>
                                </th>
                                <th pSortableColumn="qty_slab" style="width: 6%;">
                                    <div class="flex justify-content-between align-items-center text-center">Quantity
                                        Slab

                                    </div>
                                </th>
                                <th pSortableColumn="buyTarget" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center text-center">Buy Target

                                    </div>
                                </th>
                                <th pSortableColumn="sellTarget" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center text-center"> Sell
                                        Target

                                    </div>
                                </th>
                                <th pSortableColumn="qtyBalance" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-center text-center">Qty Balance

                                    </div>
                                </th>
                                <th pSortableColumn="scriptFundBalance" style="width: 12%;">
                                    <div class="flex justify-content-between align-items-left text-center">Script Fund
                                        Balance

                                    </div>
                                </th>
                                <th pSortableColumn="profit" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-left text-center">Profit

                                    </div>
                                </th>
                                <th pSortableColumn="buyRate" style="width: 8%;">
                                    <div class="flex justify-content-between align-items-left text-center">Buy Rate

                                    </div>
                                </th>

                            </tr>
                            <tr>
                                <th></th>
                                <th></th>

                                <th></th>
                                <th>
                                    <p-columnFilter field="orderType" matchMode="equals" [showMenu]="false">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-dropdown [options]="orderstatus" (onChange)="filter($event.value)"
                                                placeholder="Any" [showClear]="true">
                                                <ng-template let-option pTemplate="item">
                                                    <span [class]="'customer-badge status-' + option">{{option}}</span>
                                                </ng-template>
                                            </p-dropdown>
                                        </ng-template>
                                    </p-columnFilter>
                                </th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>



                            </tr>

                        </ng-template>

                        <ng-template pTemplate="body" let-todaysList>
                            <tr>
                                <td class="text-center">{{todaysList.scriptId}}</td>
                                <td class="text-center">{{todaysList.scriptName}}</td>
                                <td class="text-center">{{todaysList.orderDate | date:'dd/MM/yyyy'}}</td>
                                <td class="text-center"><span
                                        [class]="'customer-badge status-' + todaysList.orderType">{{todaysList.orderType}}</span>
                                </td>

                                <td class="text-center">{{todaysList.qtySlab}}</td>
                                <td class="text-center">{{todaysList.buyTarget | number : '1.2-2'}}</td>
                                <td class="text-center">{{todaysList.sellTarget | number: '1.2-2'}}</td>
                                <td class="text-center">{{todaysList.qtyBalance}}</td>
                                <td class="text-center"> {{todaysList.scriptFundBalance | number: '1.2-2'}}</td>

                                <td class="text-center">
                                    <span style="color: green; 
                                    " *ngIf="todaysList.profit>0">{{todaysList.profit|number :
                                        '1.2-2'}}</span>
                                    <span style="color: red;" *ngIf="todaysList.profit<0">{{todaysList.profit|number:
                                        '1.2-2'}}</span>
                                    <span *ngIf="todaysList.profit==0">{{todaysList.profit}}</span>

                                </td>
                                <td class="text-center">{{todaysList.buyRate | number: '1.2-2'}}</td>





                            </tr>
                        </ng-template>


                        <ng-template pTemplate="emptymessage">
                            <tr>
                                <td colspan="8">No Data found.</td>
                            </tr>
                        </ng-template>
                    </p-table>
                </div>
                <div class="row mt-6 p-1 mt-4">
                    <div class="col-lg-10"></div>
                    <div class="col-lg-2" align="center">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>